.heading-collection{
    background-color: #eee;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.sub-heading{
    text-align: center;
    color:var(--orange);
    font-size: 2rem;
    padding-top: 1rem;
    text-transform: uppercase;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 1rem;
}