:root{
    --orange: #fb8500;
    --yellow: #ffb703;
    --dark-blue: #023047;
    --light-blue: #219ebc;
    --superlight-blue: #d3ecf7;
}

.footer-border{
    border-top: 2px solid #fb8500;
    text-align: center;  
    background: rgba(0, 0, 0, 0.6);
}

.logo{
    padding-top: 100px;
    height: 80px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fb8500;
}

.logo-img{
    display: block;
    width: 14%;
    height: auto;
    margin-left: 43%;
}