@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --tenne-tawny: #2c4cb4;
    --tenne-tawny-dark: #122050;
    --orange: #fb8500;
    --yellow: #ffb703;
    --dark-blue: #023047;
    --light-blue: #219ebc;
    --superlight-blue: #d3ecf7;
}

.text-danger {
    --bs-text-opacity: 1;
    color: #ff0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

.container2{
    min-height: 100vh;
    background-color: #d3ecf7;
}

.container{
    width: 100%;
	height: 100%;
	display: flex;
    padding: 50px 41.5%;
}


.container .form{
    width: 450px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    overflow: hidden;
    border-radius: 10px; 
    transition: margin-left 0.18s ease;
}

.container .form .title{
    position: absolute;
    font-size: 27px;
    font-weight: 600;
    color: #fb8500;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #219ebc;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #219ebc;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fb8500;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #219ebc;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #fb8500;
}

.form .text{
    color: #219ebc;
    font-size: 16px;
}

.form a.text{
    color: #219ebc;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #fb8500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #ffb703;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
