:root{
    --orange: #fb8500;
    --yellow: #ffb703;
    --dark-blue: #023047;
    --light-blue: #219ebc;
    --superlight-blue: #d3ecf7;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-border{
    border-top: 2px solid #fb8500;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid var(--orange);
}

.logo{
    padding-top: 100px;
    height: 80px;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fb8500;
}

.logo-img{
    display: block;
    width: 14%;
    height: auto;
    margin-left: 43%;
}

@media screen and (min-width: 1660px){
    .footer-border{
        height: 360px;
    }
}