@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #2c4cb4;
    --tenne-tawny-dark: #122050;
    --orange: #fb8500;
    --yellow: #ffb703;
    --dark-blue: #023047;
    --light-blue: #219ebc;
    --superlight-blue: #d3ecf7;
}

.message{
    padding-top: 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    font-weight: bold;
    color: #fb8500;
    background-color: #d3ecf7;
}

.welcome{
    background-color: #fff;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 2rem;
    border-bottom: 2px solid #219ebc;
    border-left: 2px solid #219ebc;
    border-right: 2px solid #219ebc;
    border-top: 2px solid #219ebc;
    text-align: center;
}

.welcome-title{
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    color: #fb8500;
}

.welcome-text{
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
    color: #219ebc;
}

.clickme{
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fb8500;
}

.featured{
    background-color: #fff;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
}

.arrow-right-btn{
    float: right;
    margin-top: 15%;
    color: #fb8500;
    background-color: #d3ecf7;
    font-size: 3.2rem;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
}

.arrow-right-btn:hover{
    color: #ffb703;
    transform: scale(1.1); 
    opacity: 0.8;
}

.arrow-left-btn{
    float: left;
    margin-top: 15%;
    color: #fb8500;
    background-color: #d3ecf7;
    font-size: 3.2rem;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    opacity: 0.9;
}

.arrow-left-btn:hover{
    color: #ffb703;
    transform: scale(1.1); 
    opacity: 0.8;
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}

.status{
    border-radius: 2rem;
    font-size: 1.2;
}

.container{
    min-height: 100vh;
    background-color: #d3ecf7;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
    background-color: #d3ecf7;
}

/* Zoekbalk en bijbehorende */
.meal-search{
    margin: 2rem 0;
    background-color: #d3ecf7;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
    background-color: #d3ecf7;
}
.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid #fb8500;
    color: #fb8500;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: #fb8500;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: #fb8500;
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: #ffb703;
}

/* Recepten */
.meal-result{
    margin-top: 4rem;
    border-color: #fb8500;
    background-color: #d3ecf7;
}
#meal{
    margin: 2.4rem 0;
    background-color: #d3ecf7;
}
.meal-item{
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
    background-color: #fff;
}

.meal-item:hover { 
    transform: scale(1.01); 
}

.meal-img img{
    width: 100%;
    background-size: cover;
    display: block;
    border-bottom: 3px solid #219ebc;
}
.meal-name{
    padding: 1.5rem 0.5rem;
    color: #219ebc;
}
.meal-name h3{
    font-size: 1.6rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: #fb8500;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    cursor: pointer;
    width: 175px;
    margin: 1rem auto;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: #ffb703;
}

/* Om het aantal sterren bij een rating aan te geven */
.checked {
    color: #fb8500;
  }

  /* Recept details */
  .meal-details{
    position: fixed;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    background: #d3ecf7;
    border-bottom: 5px solid #fb8500;
    border-left: 5px solid #fb8500;
    border-right: 5px solid #fb8500;
    border-top: 5px solid #fb8500;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius:2rem 2rem 2rem 2rem;
}

.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background: #219ebc;
    border-radius: 1rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}



/* Onaction java */
.showrecipe{
    display: block;
}

.meal-details-content p:not(.recipe-category){
    margin: 2rem;
}

.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    color: #219ebc;
    background-color: #d3ecf7;
    font-size: 3.2rem;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.recipe-close-btn:hover{
    color: red;
    transform: scale(1.05); 
    opacity: 0.6;
}

.recipe-favorite-btn{
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: #219ebc;
    background-color: #d3ecf7;
    font-size: 3.2rem;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.recipe-favorite-btn:hover{
    color: red;
    transform: scale(1.05); 
    opacity: 0.6;
}



.recipe-title{
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 1rem;
    color: #fb8500;
}

.recipe-category{
    background: #d3ecf7;
    font-weight: 600;
    font-size: 22px;
    color: #fb8500;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}

.recipe-instruction{
    padding: 1rem 0;
}

.recipe-meal-img img{
    padding-top: 0px;
    padding-bottom: 0px;
    width: 90%;
    background-size: cover;
    margin: 0 auto;
    display: block;
    border-radius: 2rem;
    border-bottom: 3px solid #fb8500;
    border-left: 3px solid #fb8500;
    border-right: 3px solid #fb8500;
    border-top: 3px solid #fb8500;
}

/* Media Queries */
@media screen and (min-width: 600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details{
        width: 700px;
    }
}

@media screen and (min-width: 992px){
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}